.header-nav-item {
list-style: none;
}

.header-nav-link {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #18a0fb;
  text-decoration: none;
}

.btn-login {
  background: #ffffff;
  border: 1px solid #18a0fb;
  border-radius: 6px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #18a0fb;
}

.btn-register {
  background: #18a0fb;
  border-radius: 6px;
  border: 1px solid #18a0fb;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.hero-title {
  font-weight: 400;
  font-size: 56px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #000000;
}

.hero-link {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
  background-color: #18a0fb;
  text-decoration: none;
  border-radius: 5px;
}

/* секція never */

.never-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: -0.015em;
  color: #000000;
}

.never-pretitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #000000;
}

.never-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

.never-link {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #18a0fb;
}

.never-pretitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #000000;
}

.never-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

.never-link {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #18a0fb;
}

.never-pretitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #000000;
}

.never-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

.never-link {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #18a0fb;
}

.never-pretitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #000000;
}

.never-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

.never-link {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #18a0fb;
}

/* секція never2 */

.omnis-item {
  list-style: none;
}

.omnis-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #000000;
}

.omnis-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

.omnis-item {
  list-style: none;
}

.omnis-item {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #000000;
}

.omnis-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

/* секція never3 */

.company-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #000000;
}

.company-text {
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

.company-item {
  list-style: none;
}

.lorem-text {
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

.today-link {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.015em;
  color: #ffffff;
  background: #18a0fb;
  border-radius: 6px;
}

.btn-contact {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.015em;
  color: #18a0fb;
}

/* footer */

.item,
.item-social {
  list-style: none;
}

.footer-link {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: #000000;
  text-decoration: none;
}

.love-link {
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}
